{% extends "partials/base_auth.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
<h1>Sign In</h1>
<form method="post">
  {% csrf_token %}
  
  {% if form.non_field_errors %}
    <div class="text-danger">
      {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>
  {% endif %}
  
  <p>
    {{ form.username.label_tag }}
    {{ form.username }}
    {% for error in form.username.errors %}
    <p class="text-danger">{{ error }}</p>
    {% endfor %}
  </p>
  <p>
    {{ form.password.label_tag }}
    {{ form.password }}
    {% for error in form.password.errors %}
    <p class="text-danger">{{ error }}</p>
    {% endfor %}
  </p>
  <button type="submit" class="btn btn-primary">Sign In</button>
  
</form>

{% endblock %}